[submodule "Tennis-Reservation-App"]
	path = Tennis-Reservation-App
	url = https://github.com/thomasriley0/Tennis-Reservation-App
[submodule "Arcane-CalebLehman"]
	path = Arcane-CalebLehman
	url = https://github.com/CalebLehman16/Arcane-CalebLehman
